<footer class="bg-lioght pt-4 mt-auto container-fluid">

    <div class="row border-bottom border-white pb-4 mb-2">

        <div class="col-md-7  px-4 mt-2">
            <h4><a href="{{ '/' | relative_url }}" class="text-black font-weight-normal">{{ site.title }}</a></h4>
            <p class="text-black"><small>{{ site.tagline }}</small></p> 
        </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <p class="text-white">Last updated {{ site.time | date: '%Y' }}</p>
    </div>

</footer>